<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<<<<<<< HEAD
<%= render @cart %>

<div class="cart_title">カート</div>
<table>
  <table>
    <%= render(@cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">合計</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<%= button_to 'カートを空にする', @cart, method: :delete,
    confirm: '本当によいですか？' %>
=======
<h2>Pragmaticカート</h2>
<ul>
  <% @cart.line_items.each do |item| %>
    <li><%= item.quantity %> &times; <%= item.product.title %></li>
  <% end %>
</ul>
>>>>>>> 25cc459659635f46f3e812af6ddbfdb38bfe7a0a
